<div> 
    <nav class="navbar navbar-light" style="position: sticky; background-color: #1C2B36; top: 0; min-height: 60px;">
        <a class="navbar-brand" href="#">
            <img src="assets\logo.png" alt="logo" style="position: absolute;width: 200px; height: auto; top: 0; left: 0;">
        </a>
        <div class="togglebar" (click)="showMenu = !showMenu">
            <h3><i class="fa fa-bars text-white pt-3" style="position: absolute; top: 0; left: 220px;"></i></h3>
        </div>
    </nav>
    <div class="sidebar">
        <a href="#" class="active p-2">
        <div class="row">
            <div class="col-lg-2">
                <i class="fa fa-home"></i>
            </div>
            <div class="col-lg-8" *ngIf="showMenu">Dashboard</div>
        </div>
        </a>
        <a (click)="drop1 = !drop1; checkmenu()" class="p-2">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-cog"></i>
                </div>
                <div class="col-lg-8" *ngIf="showMenu">Components</div>
                <div class="col-lg-2" *ngIf="showMenu"><i class="fa fa-caret-down" ></i></div>
            </div>
        </a>
        <div *ngIf="drop1 && showMenu">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Mail</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Timeline</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Tree View</a></div>
            </div>
        </div>

        <a (click)="drop2 = !drop2; checkmenu()" class="p-2">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-bar-chart"></i>
                </div>
                <div class="col-lg-8" *ngIf="showMenu">Charts</div>
                <div class="col-lg-2" *ngIf="showMenu"><i class="fa fa-caret-down" ></i></div>
            </div>
        </a>
        <div *ngIf="drop2 && showMenu">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>amCharts</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Chartlist</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Chart.js</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Morris</a></div>
            </div>
        </div>

        <a (click)="drop3 = !drop3; checkmenu()" class="p-2">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-desktop"></i>
                </div>
                <div class="col-lg-8" *ngIf="showMenu">UI Features</div>
                <div class="col-lg-2" *ngIf="showMenu"><i class="fa fa-caret-down" ></i></div>
            </div>
        </a>
        <div *ngIf="drop3 && showMenu">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Typography</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Buttons</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Icons</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Modals</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Grid</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Alerts</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Progress Bars</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Notifications</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Tabs & Accordians</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Sliders</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Panels</a></div>
            </div>
        </div>
        
        <a (click)="drop4 = !drop4; checkmenu()" class="p-2">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-pencil-square-o"></i>
                </div>
                <div class="col-lg-8" *ngIf="showMenu">Form Elements</div>
                <div class="col-lg-2" *ngIf="showMenu"><i class="fa fa-caret-down" ></i></div>
            </div>
        </a>
        <div *ngIf="drop4 && showMenu">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Form Inputs</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Form Layouts</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Form Wizard</a></div>
            </div>
        </div>

        <a (click)="drop5 = !drop5; checkmenu()" class="p-2">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-th"></i>
                </div>
                <div class="col-lg-8" *ngIf="showMenu">Tables</div>
                <div class="col-lg-2" *ngIf="showMenu"><i class="fa fa-caret-down" ></i></div>
            </div>
        </a>
        <div *ngIf="drop5 && showMenu">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Basic Tables</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Smart Tables</a></div>
            </div>
        </div>

        <a (click)="drop6 = !drop6; checkmenu()" class="p-2">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="col-lg-8" *ngIf="showMenu">Maps</div>
                <div class="col-lg-2" *ngIf="showMenu"><i class="fa fa-caret-down" ></i></div>
            </div>
        </a>
        <div *ngIf="drop6 && showMenu">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Google Maps</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Leaflet Maps</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Bubble Maps</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Line Maps</a></div>
            </div>
        </div>
        <a (click)="drop7 = !drop7; checkmenu()" class="p-2">
            <div class="row">
                <div class="col-lg-2">
                    <i class="fa fa-file-o"></i>
                </div>
                <div class="col-lg-8" *ngIf="showMenu">Pages</div>
                <div class="col-lg-2" *ngIf="showMenu"><i class="fa fa-caret-down" ></i></div>
            </div>
        </a>
        <div *ngIf="drop7 && showMenu">
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Sign In</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>Sign Up</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>User Profile</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8"><a>404 Page</a></div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 pt-3 ps-5">
                    <h4 style="color: #666;">DASHBOARD</h4>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 pt-3">
                    <h6 style="position: absolute; right: 40px;">Home / Dashboard</h6>
                </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="ms-5 box p-2">
                <div style="position: relative;">
                    <h6>New Visits<span style="position: absolute; right: 0;"><i class="fa fa-user"></i></span></h6>
                </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="me-5 box p-2">
                <div style="position: relative;">
                    <h6>Purchases<span style="position: absolute; right: 0;"><i class="fa fa-usd"></i></span></h6>
                </div>
            </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="ms-5 box p-2">
                <div style="position: relative;">
                    <h6>Active Users<span style="position: absolute; right: 0;"><i class="fa fa-smile-o"></i></span></h6>
                </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="me-5 box p-2">
                <div style="position: relative;">
                    <h6>Revisited<span style="position: absolute; right: 0;"><i class="fa fa-repeat"></i></span></h6>
                </div>
            </div>
            </div>
        </div>      
    </div>
</div>